body {
    background-color: #e9d5ff; /* açık mor */
    color: #5b21b6; /* mor yazı */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    margin-top: 20px;
    width: 150px;
}

h1 {
    margin-top: 30px;
}

p {
    font-size: 16px;
}

.footer {
    margin-top: 40px;
    padding: 15px;
    background-color: #d8b4fe; /* telif kutusu */
    border-top: 2px solid #7c3aed;
}
